

.header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px;
    box-sizing: border-box;
    background-color: #9400d3;
    border-bottom: 3px solid yellow;
    margin-bottom: 10px;
    &__wrap {
        width: 90%;
        max-width: 1200px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
    }
    &__logo {
        &__image {
            max-height: 70px;
        }
    }
    &__login {
        display: flex;
        white-space: nowrap;
        &__anchor {
            padding: 10px 10px;
            border-bottom: 2px solid transparent;
            background-color: #7600a9;
            color: #fff;
            border-radius: 10px;
            margin-left: 3px;
            font-size: 1.1rem;

            &:hover {
                border-bottom: 2px solid yellow;
                background-color: #dba0ec;
            }
        }
        &_icon {
            font-size: 20px;
            padding: 5px;
        }
    }
    &__help {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        &__anchor {
            padding: 5px 15px 9px;
            margin: 0 10px;
            border-radius: 20px;
            color: white;
            font-size: 1.1rem;

            &:hover {
                background-color: #dba0ec;
            }
        }
        &__button {
            display: none;
        }
    }

    @media (max-width: 767px) {
        &__wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        &__logo {
            width: 50%;
            text-align: left;
        }
        &__help {
            width: 50%;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            box-sizing: border-box;
            &__button {
                display: block;
                cursor: pointer;
            }
            &__anchors {
                &--m {
                    display: none;
                    flex-direction: column;
                }
            }
        }
        &__login {
            display: none;
        }
    }
}