.carousel {
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        .carousel-slider {
            height: 400px;
        }
    }
}   
.carousel-status {
    display: none;
}


@media (min-width: 768px) {
    .m-d-none {
        display: none;
    }
}
