.carousel {
    width: 100%;
    max-width: 1200px;
    background-color: #9400d37a;
    border-radius: 20px;
    margin: 20px auto;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    .carousel-title {
        font-size: 1.2rem;
        text-align: left;
        width: 100%;
        color: #fff;
        padding: 10px 10px 20px 0;
        font-weight: 700;
    }
    .carousel-icon {
        padding: 0px 10px 0px 0;    
    }

    @media (max-width: 767px) {
       border-radius: 0;
       padding: 0;
       .carousel-title {
        padding: 15px 20px;
       }
    }
}

.userInfo {
    width: 100%;
    max-width: 1200px;
    background-color: #9400d37a;
    border-radius: 20px;
    margin: 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    &__details {
        min-width: 200px;
        display: inline-flex;
        align-items: center;
        img {
            border-radius: 20px;
        }
        span {
            margin-left: 10px;
            color: #fff;
        }
    }
    &__emblem {
        display: inline-flex;
        align-items: center;
        background-color: #04040499;
        border-radius: 20px;
        margin: 10px 0 0;
        padding: 10px;
        &__xp {
            background: #300aff;
            padding: 7px 7px;
            border-radius: 20px;
            margin: 0 10px;
            color: #fff;
        }
    }
    &__medal {
        font-size: 30px;
        margin-left: 5px;
        &--trophy {
            color: #bbb;
        }
        &--diamond {
            color: #e8e1bb;
        }
        &--gold {
            color: rgb(248, 212, 10);
        }
        &--plate {
            color: #a69a9ad9;
        }
        &--bronze {
            color: #f97e12;
        }
    }

    @media (max-width: 767px) {
        &__details, 
        &__emblem {
            width: 100%;
        }
        &__emblem {
            padding: 10px 0;
        }
    }
}