


.Subject {
    width: 100%;
    background-color: #f4f4f4;

    &__primaryWrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    &__primaryTitle {
        font-size: 2rem;
        text-transform: uppercase;
    }
}