.TextPrimary {
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    display: inline-flex;
    background-color: #9400d37a;
    flex-wrap: wrap;
    align-items: center;
    &__title {
        margin: 0;
        padding: 0 0 21px;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid #300aff;
        color: #fff;
        font-size: 2rem;
    }
    &__text {
        width: 100%;
        color: #fff;
        line-height: 22px;
    }   
}