.b {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;

    @media (max-width: 767px) {
        padding: 0 10px;
        &--fullmobile {
            padding: 0;
            border-radius: 0;
        }
    }
}

.b-wrap {
    width: 100%;
    max-width: 1200px;
    background-color: #fefdffcc;
    border-radius: 20px;
    max-width: 1200px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    &__trail {
        white-space: nowrap;
        &__anchor {
            padding-right: 10px;
            a {
                color: #918a8a;
            }

            &:hover {
                color: #9400d3;
            }

            &:after {
                padding: 0 10px;
            }
        }
    }

    @media (max-width: 767px) {
        border-radius: 20px;
        &__trail {
            white-space: nowrap;
            &__anchor {

                &:after {
                    content: "";
                    padding: 0px;
                }
            }
        }
    }
}

