.b {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
    box-sizing: border-box;

    @media (max-width: 767px) {
        padding: 0 10px;
    }
}

.b-wrap {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    max-width: 1200px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    border-left: 10px solid yellow;
    &__trail {
        &__anchor {
            padding-right: 10px;

            &:hover {
                color: yellow;
            }

            &:after {
                content: "|";
                padding: 0 10px;
            }
        }
    }

    @media (max-width: 767px) {
        border-radius: 20px;
    }
}

