.MainBoard {
    width: 100%;
    max-width: 1200px;
    background-color: #c7cfc175;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    &__title {
        width: 100%;
        padding: 10px 10px 10px 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
        &__icon {
            color: #4e35d3c2;
            padding: 0px 5px 0px 0;
        }
    }
    &__cards {
        border-radius: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 170px;
        background-color: #4e35d3c2;
        border: 2px solid transparent;
        border-radius: 20px;
        margin-right: 20px;
        cursor: pointer;
        &__name {
            font-size: 1.1rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__info {
            display: none;
        }
        &__icon {}
        &__description {
            font-size: 1rem;
        }

        &:hover {
            border: 2px solid #300aff;
        }
    }
    &__seeAll {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 130  px;
        background-color: #4e35d3c2;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-weight: 700;
        font-size: 1.1rem;
        margin-right: 20px;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 10px;
        }
    }
}