

.SkewSection {
    background-image: url("../braintraining.webp");
    background-size: contain;
    width: 90%;
    max-width: 1200px;
    height: 250px;
    border: 2px dashed #a257c49c;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    display: inline-flex;
    align-items: center;
}