.Progress {
    height: 25px;
    border: 2px solid #fff;
    background-color: #ebe4e4;
    border-radius: 20px;
    position: relative;
    max-width: 1200px;
    padding: 5px;
    &__made {
        display: block;
        width: 30%;
        padding: 3px;
        height: 100%;
        box-sizing: border-box;
        background-color: #00000082;
        border-radius: 20px;
        text-align: center;
        &__number {
            font-size: 1rem;
            color: #fff;
        }
    }
}

.Question {
    background: #fefdffcc;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    border-top: 1px dashed #300aff;
    border-radius: 20px;
    padding: 15px 10px;
    &__congrats {
        background-image: url("../../Components/gliter.gif");
        width: 100%;
        height: 100%;
    }
    &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: #ebe4e4;
        margin: 10px 0;
        padding: 0 10px;
        border-radius: 20px;
        box-sizing: border-box;
        &__icon {
            color: #00000082;
            margin: 0 10px 0 0;
        }
        &__title {
            font-size: 1.6rem;
            padding: 20px;
            color: #4a4a4a;
        }
        &__about {
            position: relative;
            padding: 10px 0px;
            &__icon {
                margin: 0 5px 0 0;
            }
            &__title {
                padding: 5px 15px;
                cursor: pointer;
                background-color: #00000082;
                color: #fff;
                border-radius: 20px;
            }
            &__observation {
                position: absolute;
                right: 0;
                top: 25px;
                background-color: #ffff00;
                border-top: 2px solid #d90bff82;
                padding: 10px 20px;
            }
            &__close {
                display: block;
                position: relative;
                width: 100%;
                text-align: right;
                padding: 10px 0 0 0;
                cursor: pointer;
            }
        }
    }
    &__content {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    &__paragraph {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px 20px;
        font-size: 1.2rem;
        line-height: 30px;
        color: #4a4a4a;
        text-align: left;
    }
    &__alternatives {
        width: 100%;
        color: #4a4a4a;
        text-align: left;
        &__option {
            font-size: 1.1rem;
            font-weight: 600;
            padding: 10px 0;
            display: inline-flex;
            height: 50px;
            margin-right: 30px;
            [type="radio"] {
                margin: 0 10px 0 0;
            }
        }
    }
    &__send {
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            border: none;
            background-color: #e7e1e1;
            color: #918a8a;
            text-decoration: none;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            border-radius: 20px 0 0 20px;
            &.next {
                background-color: #7ced2fcc;
                color: #fff;
            }
        }
        &__tip {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            border-radius: 0 20px 20px 0;
            border: none;
            background-color: #ebe4e4;
            height: 40px;
            text-decoration: none;
            font-size: 1,1rem;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
        }
    }
    &__resolution {
        background: #fefdffcc;
        position: relative;
        width: 100%;
        max-width: 1200px;
        border-top: 1px dashed #29ff0a;
        border-radius: 20px;
        padding: 10px;
        h4 {
            color: #4a4a4a;
            font-size: 1.5rem;
            background-color: #ebe4e4;
            border-radius: 20px;
            padding: 20px;
            margin: 10px 0 0;
        }
        p {
            line-height: 22px;
            color: #4a4a4a;
            font-size: 1.2rem;
        }
    }
    &.correct {
        //box-shadow: inset 0px 0px 21px #00ff00;
    }
    &.incorrect {
        //box-shadow: inset 0px 0px 21px #ff1a00;
    }

    @media (max-width: 767px) {
        &__info {
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column-reverse;
            padding: 10px 0;
            &__about {
                &__title {}
                &__icon {}
                &__desc {}
            }
            &__title {
                font-size: 1.3rem;
            }
        }
        &__paragraph {
            padding: 0;
            font-size: 1rem;
        }
        &__alternatives {
            &__option {
                font-size: 1rem;
            }
        }
    }
}