

.login {
    padding: 30px 0;
    &__wrap {
        width: 100%;
        max-width: 1200px;
        padding: 15px;
        margin: auto;
        box-sizing: border-box;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        padding: 15px;
        text-align: left;
        background-color: #fff;
        margin: auto;
        border-bottom: 3px solid #9400d3;
        &__icon {
            position: absolute;
            bottom: 13px;
            left: 13px;
            color: #9400d3;
        }
    }
    &__field {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
    }
    &__icon {
        font-size: 5rem;
        margin: 15px auto;
        color: #9400d3;
    }
    &__label {
        width: 100%;
        margin: 10px 5px;
        color: #4d4c4c;
        font-size: .9rem;
    }
    &__input {
        margin: 10px 0 0;
        height: 10px;
        width: 100%;
        padding: 20px 10px 20px 40px;
        border-radius: 10px;
        border: none;
        border-bottom: 2px solid #ffff00;
        background-color: #f5f4ee;
        box-sizing: border-box;
        font-size: 1.1rem;
        &__icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: red;
        }
        &--warn {
            border-bottom: 2px solid red;
        }
    }
    &__send {
        width: 100%;
        border: none;
        height: 40px;
        background-color: #9400d3;
        color: #fff;
        border-radius: 10px;
        margin: 20px 0;
        cursor: pointer;
    }
}